*{
    margin: 0;
    padding: 0;
}
#sidebar {
    width: 100%;
    background-color: #f1cfb3;
}
div#header-wp {
    width: 100%;
    min-height: 65px;
}

a#logo {
    float: left;
    margin-left: 120px;
    margin-top: 15px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: bold;
}

a#btn-cart {
    float: right;
    margin-right: 120px;
    margin-top: 15px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

div#main-menu-wp {
    padding: 15px;
}

ul.list-main {
    list-style-type: none;
    line-height: 25px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;

}
li.active a {
    color: red;
}
ul.list-main li a{
    font-size: 20px;
    font-weight: bold;
}
li a{
    text-decoration: none;
    display: block;
    color: black;
}
#main-menu-wp list-main a{
    font-size: 20px;

}

a.section-title {
    text-decoration: none;
    color: #1377f5;
    font-size: 18px;
    font-weight: bold;
}
img {
    width: 300px;
    height: 300px;
}
p#copyright {
    text-align: center;
}

.section.list-cat {
    margin: 20px 20px;
}
ul.list-item.clearfix {
    list-style-type: none;
    line-height: 27px;
    text-align: center;
    display: flex;
    justify-content: space-around;

}
p#copyright {
    margin-top: 20px;
    display: block;
    line-height: 25px;
    min-height: 25px;
    text-align: center;
    background-color: #ddd;
    color: red;
}
div#content {
    margin: 20px;
    line-height: 25px;
}

.section.list-cart {
    width: 90px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    background: #c3c2c2;
}
.section-head {
    font-size: 18px;
    line-height: 25px;
}
h3.section-title {
    color: #186bd5;
}
a.add-to-cart {
    display: inline-block;
    width: 110px;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    background: green;
    color: white;
}

div#info-product-wp {
    position: relative;
}
div.detail.fl-right {
    position: absolute;
    left: 300px;
    bottom: 126px;
}
h3.title {
    color: #186bd5;
}